$primary-color: #00e1ff;
$blue-color: #264653;
$light-blue-color: #2a9d8f;
$tan-color: #e9c46a;
$teal-color: #20c997;
$orange-color: #f4a261;
$white-color: #ffffff;
$gray-color: #6c757d;
$gray-dark-color: #343a40;
$red-color: #e76f51;
$light-color:  #dee0f1;
$dark-color: #333333;
$black-color: #000000;
$success-color: #2a9d8f;
$danger-color: #e76f51;
$indigo-color: #4b0082;
$purple-color: #800080;
$pink-color: #ffc0cb;
$yellow-color: #FFFF00;
$green-color: #00FF00;
$cyan-color: #00FFFF;
$twitter-color:  #38a1f3;
$facebook-color: #3b5998;
$instagram-color:  #3f729b;
$youtube-color: #c4302b;
$linkedin-color: #0077b5;